<footer class="absolute inset-x-0 bottom-0 w-full w-full py-6 px-6 sm:px-12 lg:px-20 xl:px-24 text-gray-700 flex flex-col bg-background">
  <div class="flex justify-between">
    <!-- LEFT COLUMN -->
    <div class="w-1/3 flex-col justify-center items-center text-center">
      <div class="w-full flex items-center justify-center">
        <img class="justify-center w-1/2 h-full object-cover" src="/images/Sugar-Spell-hand.png">
      </div>
      <span class="pr-2 text-gray-700">Copyright © 2020 Sugar Spell</span>
    </div>
    <!-- MIDDLE COLUMN -->
    <div class="w-1/3 justify-center text-center">
      <h2 class="text-gray-800 font-bold">Help & Information</h2>
      <ul class="md:flex md:flex-col justify-end">
        <li class="text-gray-700 hover:text-gray-500"> <a href="/order">Place an Order</a> </li>
        <li class="text-gray-700 hover:text-gray-500"> <a href="/cake-care">Cake Care and Cutting (How To)</a> </li>
        <li class="text-gray-700 hover:text-gray-500"> <a href="/faq">Frequently Asked Questions</a> </li>
        <li class="text-gray-700 hover:text-gray-500"> <a href="/privacy-policy">Privacy Policy</a> </li>
      </ul>
    </div>
    <!-- RIGHT COLUMN -->
    <div class="w-1/3 justify-center text-center">
      <h2 class="text-gray-800 font-bold">About Us</h2>
      <ul class="justify-end">
        <li class="text-gray-700 hover:text-gray-500"> <a href="/services">Services</a> </li>
        <li class="text-gray-700 hover:text-gray-500"> <a href="/flavors">Flavors</a> </li>
        <li class="text-gray-700 hover:text-gray-500"> <a href="/about">About the Baker 🖤</a> </li>
        <li class="text-gray-700 hover:text-gray-500"> <a href="/contact">Contact Us</a> </li>
      </ul>
      <div class="flex-row">
        <a href="https://www.instagram.com/sugarspellny/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC8lytG8CdwzBvCaY9X3JD9w" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="mailto:orders@thesugarspell.com?Subject=Crumbs%20x%20Buttercream%20Inquiry" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.facebook.com/sugarspellny/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="pikaday.js"></script>
<script>
    var picker = new Pikaday({ field: document.getElementById('datepicker') });
</script>
</body>

</html>
