<div class="flex justify-around my-4">
  <form class="border rounded p-6 bg-white max-w-2xl" action="/new-order" method="POST" id="test-form" enctype="multipart/form-data">
    <div class="">
      <div class="p-4 sm:p-6 flex-col">
        <div class="">
          <div class="font-bold text-lg">
            <h2>Tell Me About Yourself</h2>
          </div>
          <!-- Email & Phone # Input -->
          <div class="flex flex-col md:flex-row justify-between">
            <!-- email input -->
            <div class="flex-col my-2 md:pr-2">
              <label for="email" class="text-sm font-semibold leading-5 text-gray-700">
                Email
              </label>
              <div class="mt-1 rounded-md">
                <input id="email" name="email" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" placeholder="Enter Email">
              </div>
            </div>
            <!-- name input -->
            <div class="flex-col my-2 md:pr-2">
              <label for="name" class="text-sm font-semibold leading-5 text-gray-700">
                Name
              </label>
              <div class="mt-1 rounded-md">
                <input id="name" name="name" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" placeholder="Sugar Spells">
              </div>
            </div>
            <!-- phone number input -->
            <div class="flex-col my-2 md:pl-2">
              <label for="phone number" class="text-sm font-semibold leading-5 text-gray-700">
                Phone Number
              </label>
              <div class="mt-1 rounded-md">
                <input name="phoneNumber" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" placeholder="(xxx)-xxx-xxxx">
              </div>
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-between">
            <!-- event date input -->
            <div class="flex-col my-2 md:pr-2">
              <label for="eventDate" class="text-sm font-semibold leading-5 text-gray-700">
                Event Date
              </label>
              <div class="mt-1 rounded-md">
                <input name="eventDate" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" id="datepicker" placeholder="Select a Date">
              </div>
            </div>
            <!-- event time input -->
            <div class="flex-col my-2 md:pl-2">
              <label for="lastName" class="text-sm font-semibold leading-5 text-gray-700">
                Event Time
              </label>
              <div class="mt-1 rounded-md">
                <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="readyTime" id="time" required>
                  <option value="" selected>---Select Option---</option>

                  <option value="8:00 AM">8:00 AM</option>
                  <option value="8:15 AM">8:15 AM</option>
                  <option value="8:30 AM">8:30 AM</option>
                  <option value="8:45 AM">8:45 AM</option>

                  <option value="9:00 AM">9:00 AM</option>
                  <option value="9:15 AM">9:15 AM</option>
                  <option value="9:30 AM">9:30 AM</option>
                  <option value="9:45 AM">9:45 AM</option>

                  <option value="10:00 AM">10:00 AM</option>
                  <option value="10:15 AM">10:15 AM</option>
                  <option value="10:30 AM">10:30 AM</option>
                  <option value="10:45 AM">10:45 AM</option>

                  <option value="11:00 AM">11:00 AM</option>
                  <option value="11:15 AM">11:15 AM</option>
                  <option value="11:30 AM">11:30 AM</option>
                  <option value="11:45 AM">11:45 AM</option>

                  <option value="12:00 PM">12:00 PM</option>
                  <option value="12:15 PM">12:15 PM</option>
                  <option value="12:30 PM">12:30 PM</option>
                  <option value="12:45 PM">12:45 PM</option>

                  <option value="1:00 PM">1:00 PM</option>
                  <option value="1:15 PM">1:15 PM</option>
                  <option value="1:30 PM">1:30 PM</option>
                  <option value="1:45 PM">1:45 PM</option>

                  <option value="2:00 PM">2:00 PM</option>
                  <option value="2:15 PM">2:15 PM</option>
                  <option value="2:30 PM">2:30 PM</option>
                  <option value="2:45 PM">2:45 PM</option>

                  <option value="3:00 PM">3:00 PM</option>
                  <option value="3:15 PM">3:15 PM</option>
                  <option value="3:30 PM">3:30 PM</option>
                  <option value="3:45 PM">3:45 PM</option>

                  <option value="4:00 PM">4:00 PM</option>
                  <option value="4:15 PM">4:15 PM</option>
                  <option value="4:30 PM">4:30 PM</option>
                  <option value="4:45 PM">4:45 PM</option>

                  <option value="5:00 PM">5:00 PM</option>
                  <option value="5:15 PM">5:15 PM</option>
                  <option value="5:30 PM">5:30 PM</option>
                  <option value="5:45 PM">5:45 PM</option>

                  <option value="6:00 PM">6:00 PM</option>
                  <option value="6:15 PM">6:15 PM</option>
                  <option value="6:30 PM">6:30 PM</option>
                  <option value="6:45 PM">6:45 PM</option>

                  <option value="7:00 PM">7:00 PM</option>
                  <option value="7:15 PM">7:15 PM</option>
                  <option value="7:30 PM">7:30 PM</option>
                  <option value="7:45 PM">7:45 PM</option>

                  <option value="8:00 PM">8:00 PM</option>
                  <option value="8:15 PM">8:15 PM</option>
                  <option value="8:30 PM">8:30 PM</option>
                  <option value="8:45 PM">8:45 PM</option>

                  <option value="9:00 PM">9:00 PM</option>
                  <option value="9:15 PM">9:15 PM</option>
                  <option value="9:30 PM">9:30 PM</option>
                  <option value="9:45 PM">9:45 PM</option>
                  <option value="10:00 PM">10:00 PM</option>
                </select>
              </div>
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-between">
            <!-- event type input -->
            <div class="flex-col my-2 md:pr-2">
              <label for="eventType" class="text-sm font-semibold leading-5 text-gray-700">
                Event Type
              </label>
              <div class="mt-1 rounded-md">
                <select id="eventType" name="eventType" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" required>
                  <option value="" selected>---Select Option---</option>
                  <option class="" value="Wedding">Wedding</option>
                  <option class="" value="Birthday">Birthday</option>
                  <option class="" value="Anniversary">Anniversary</option>
                  <option class="" value="Christening">Christening</option>
                  <option class="" value="Other">Other</option>
                </select>
              </div>
            </div>
            <!-- guest amount input -->
            <div class="flex-col my-2 md:pl-2">
              <label for="numberOfGuests" class="text-sm font-semibold leading-5 text-gray-700">
                How many guests will there be?
              </label>
              <div class="mt-1 rounded-md">
                <input name="numberOfGuests" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" placeholder="12">
              </div>
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-between">
            <!-- delivery type input -->
            <div class="flex-col my-2 md:pr-2">
              <label for="deliveryType" class="text-sm font-semibold leading-5 text-gray-700">
                How would you like to receive your order? (Delivery is required for cakes more than 2 tiers**)
              </label>
              <div class="mt-1 rounded-md">
                <div class="" id="delivery-select">
                  <input type="radio" name="delivery[preference]" value="Pick Up" id="pickup"><span class="pl-2">Pick Up</span><br>
                  <input type="radio" name="delivery[preference]" value="Delivery" id="delivery"><span class="pl-2">Delivery</span>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-between">
            <!-- delivery address *optional* input -->
            <div class="w-2/3 flex-col my-2" id="address-input">
              <label for="address" class="text-sm font-semibold leading-5 text-gray-700">
                Venue (Name and address)
              </label>
              <div class="mt-1 rounded-md">
                <textarea id="delivery-input" name="delivery[address]" rows="3" class="form-textarea bg-gray-400 flex-1 block w-full rounded-none rounded-md transition duration-150 p-2 ease-in-out text-lg sm:leading-5" placeholder=""></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="font-bold text-lg mt-6">
            <h2>About Your Order</h2>
          </div>

          <!-- Treat Select -->
          <div class="flex flex-col md:flex-row justify-between">
            <div class="flex-col my-2 md:pr-2">
              <label for="treat" class="text-sm font-semibold leading-5 text-gray-700">
                Interested in
              </label>
              <!-- treat choices -->
              <div class="px-2" id="treat">
                <div class="flex">
                  <div class="flex items-center h-5">
                    <input value="cake" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" id="cake">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="treat" class="font-medium text-gray-700">Cake</label>
                  </div>
                </div>
                <div class="flex">
                  <div class="flex items-center h-5">
                    <input value="sugar cookies" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" id="sugarCookies">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="treat" class="font-medium text-gray-700">Sugar Cookies</label>
                  </div>
                </div>

                <div class="flex">
                  <div class="flex items-center h-5">
                    <input value="cupcakes" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" id="cupcakes">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="treat" class="font-medium text-gray-700">Cupcakes</label>
                  </div>
                </div>

                <div class="flex">
                  <div class="flex items-center h-5">
                    <input value="rice krispie pops" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" id="riceKrispiePops">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="treat" class="font-medium text-gray-700">Rice Krispie Pops</label>
                  </div>
                </div>

                <div class="flex">
                  <div class="flex items-center h-5">
                    <input value="chocolate dipped strawberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" id="chocolateDippedStrawberries">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="treat" class="font-medium text-gray-700">Chocolate Dipped Strawberries</label>
                  </div>
                </div>

                <div class="flex">
                  <div class="flex items-center h-5">
                    <input value="cake pops" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" id="cakePops">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="treat" class="font-medium text-gray-700">Cake Pops</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- cake tier information -->
          <div class="">
            <div class="flex flex-col justify-between" id="cake-select">
              <div class="flex flex-col md:flex-row justify-between">
                <!-- cake tiers select -->
                <div class="flex-col my-2 md:pr-2">
                  <label for="cakeTier" class="text-sm font-semibold leading-5 text-gray-700">
                    How many tiers?
                  </label>
                  <p class="text-xs italic text-gray-700 font-normal">We will discuss cake sizes during our initial email.</p>
                  <div class="mt-1 rounded-md">
                    <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="cakeTierAmount" id="cakeTier-select">
                      <option value="--Select Cake Tier Amount--">--Select Cake Tier Amount--</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <!-- flower select -->
                <div class="flex-col my-2 md:pl-2">
                  <label for="flower" class="text-sm font-semibold leading-5 text-gray-700">
                    Would you like some flowers on your cake?
                  </label>
                  <p class="text-xs italic text-gray-700 font-normal">I have been known to add an entire garden to my cakes, tee-hee!</p>
                  <div class="mt-1 rounded-md">
                    <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="flowerType">
                      <option value="sugar">Sugar</option>
                      <option value="fresh">Fresh</option>
                      <option value="none" selected>None</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- cake tier information -->
              <div class="transition duration-500 ease-in-out flex-col justify-around text-sm">
                <div class="flex-col">
                  <div class="">
                    <div class="font-bold text-lg mt-6">
                      <h2>What's Yo Flava? (Cake That Is)</h2>
                      <p class="text-sm font-normal font-base leading-5 text-gray-700 mt-2">Please feel free to ask us about our GF (Gluten Free), NF (Nut Free) or EF (Egg Free) options. You can mix and match up to 2 flavors per tier* (An additional
                        fee may apply)</p>
                    </div>
                    <!-- Tier 1 -->
                    <div class="" id="cakeTier-1">
                      <div class="">
                        <h2 class="text-lg bold my-2">Tier 1 (Top/Smallest)</h2>
                      </div>
                      <div class="border-solid border-4 border-light-blue-500 p-2">
                        <div class="text-lg bold my-2">
                          <p>Try one of our signature flavor combinations or build your own?</p>
                        </div>
                        <div class="flex-col">
                          <div class="mb-2">
                            <label for="tierType">Tier 1 (Top) <span>*</span></label>
                          </div>
                          <div class="flex-col" id="flavorType-select-1">
                            <input type="radio" name="cakeFlavorOne" value="signature"><span class="pl-2">Signature Cake Combos</span><br>
                            <input type="radio" name="cakeFlavorOne" value="buildYourOwn"><span class="pl-2">Build Your Own Cake</span>
                          </div>
                        </div>
                        <div class="flex-col" id="signatureCake-select-1">
                          <div class="text-lg bold my-2">
                            <p>Signature Cakes</p>
                          </div>
                          <div class="text-gray-700">
                            <p>You can find out more on the <span class="text-blue-700"><a href="/flavors" target="_blank">flavors</a></span> page...</p>
                          </div>
                          <div class="">
                            <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierOne[flavor][signature]">
                              <option value="velvet queen">Velvet Queen</option>
                              <option value="cookie monster">Cookie Monster</option>
                              <option value="lemon & poppyseed">Lemon & Poppyseed</option>
                              <option value="almond & hazelnut prailine">Almond & Hazelnut Prailine</option>
                              <option value="birthday wishes">Birthday Wishes</option>
                              <option value="banofee crumble">Banofee Crumble</option>
                              <option value="strawberry shortcake">Strawberry Shortcake</option>
                            </select>
                          </div>
                        </div>


                        <div class="flex-col" id="buildYourOwnCake-select-1">
                          <div class="text-lg bold my-2">
                            <p>Custom Flavors</p>
                          </div>
                          <div class="">
                            <div class="my-2">
                              <label for="tierFlavor">Cake <span>*</span></label>
                              <p class="text-xs italic text-gray-700 font-normal">NF = Nut Free, EF = Egg Free</p>
                            </div>
                            <div class="">
                              <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierOne[flavor][buildYourOwn][base]">
                                <option value="lemon poppy seed (NF)">Lemon Poppy Seed (NF)</option>
                                <option value="mexican vanilla (NF)">Mexican Vanilla (NF)</option>
                                <option value="cookies & cream | oreo (NF, can be EF)">Cookies & Cream | Oreo (NF, can be EF)</option>
                                <option value="mocha chocolate (NF)">Mocha Choolate (NF)</option>
                                <option value="red velvet (NF)">Red Velvet (NF)</option>
                                <option value="bailey's irish cream (vanilla)">Bailey's Irish Cream(Vanilla)</option>
                                <option value="bailey's irish cream (chocolate)">Bailey's Irish Cream(Chocolate)</option>
                                <option value="funfetti vanilla">Funfetti Vanilla</option>
                                <option value="almond cream">Almond Cream</option>
                                <option value="banana">Banana</option>
                              </select>
                            </div>
                          </div>

                          <div class="my-2">
                            <div class="my-2">
                              <label for="tierFilling">Buttercream/Filling<span>*</span></label>
                              <p>All of my buttercreams are a SMBC (Swiss Meringue Buttercream) base. It is silky, smooth and not overly sweet. The perfect base!</p>
                            </div>
                            <div class="my-2">
                              <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierOne[flavor][buildYourOwn][filling]">
                                <optgroup label="Buttercream">
                                  <option value="cookies and cream (oreo)">Cookies and Cream (Oreo)</option>
                                  <option value="vanilla">Vanilla"</option>
                                  <option value="strawberry">Strawberry</option>
                                  <option value="chocolate">Chocolate</option>
                                  <option value="irish cream (bailey's)">Irish Cream (Bailey's)</option>
                                  <option value="cheesecake (cream cheese vanilla)">Cheesecake (Cream Cheese Vanilla)</option>
                                  <option value="dulce de leche">Dulce De Leche</option>
                                  <option value="coffee">Coffee</option>
                                  <option value="salted caramel">Salted Caramel</option>
                                </optgroup>
                                <optgroup label="Chocolate Ganache">
                                  <option value="whipped dark chocolate ganache">Whipped Dark Chocolate Ganache</option>
                                  <option value="whipped white chocolate ganache">Whipped White Chocolate Ganache</option>
                                  <option value="whipped peanut butter ganache">Whipped Peanut Butter Ganache</option>
                                </optgroup>
                              </select>
                            </div>
                          </div>

                          <div class="my-2">
                            <div class="my-2 text-base">
                              <label for="tierExtra"><span><i class="fas fa-star"></i> </span>Make your cake extra special</label>
                              <p class="text-xs italic text-gray-700 font-normal">These add-ons deliver extra flavor, texture and makes the cake uniquely suit your taste.</p>
                              <p class="text-xs italic text-gray-700 font-normal">Additional fee may apply**</p>
                            </div>
                            <div class="flex flex-wrap">
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="fresh strawberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Fresh Strawberries</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="freeze dried rasberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Freeze Dried Rasberries</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="double stuffed oreo cookies (chunks)" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Double Stuffed Oreo Cookies (Chunks)</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="caramelized popcorn" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Caramelized Popcorn</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="crushed pretzels" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Crushed Pretzels</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="salted caramel drizzle" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Salted Caramel Drizzle</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="pecans (chopped)" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Pecans (Chopped)</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierOne[flavor][buildYourOwn][topping]" value="almond & hazelnut praline crunch" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Almond & Hazelnut Praline Crunch</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Tier 2 -->
                    <div class="" id="cakeTier-2">
                      <div class="">
                        <h2 class="text-lg bold my-2">Tier 2</h2>
                      </div>
                      <div class="border-solid border-4 border-light-blue-500 p-2">
                        <div class="text-lg bold my-2">
                          <p>Try one of our signature flavor combinations or build your own?</p>
                        </div>
                        <div class="flex-col">
                          <div class="mb-2">
                            <label for="tierType">Tier 2 <span>*</span></label>
                          </div>
                          <div class="flex-col" id="flavorType-select-2">
                            <input type="radio" name="cakeFlavorTwo" value="signature"><span class="pl-2">Signature Cake Combos</span><br>
                            <input type="radio" name="cakeFlavorTwo" value="buildYourOwn"><span class="pl-2">Build Your Own Cake</span>
                          </div>
                        </div>
                        <div class="flex-col" id="signatureCake-select-2">
                          <div class="text-lg bold my-2">
                            <p>Signature Cakes</p>
                          </div>
                          <div class="text-gray-700">
                            <p>You can find out more on the <span class="text-blue-700"><a href="/flavors" target="_blank">flavors</a></span> page...</p>
                          </div>
                          <div class="">
                            <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierTwo[flavor][signature]">
                              <option value="velvet queen">Velvet Queen</option>
                              <option value="cookie monster">Cookie Monster</option>
                              <option value="lemon & poppyseed">Lemon & Poppyseed</option>
                              <option value="almond & hazelnut prailine">Almond & Hazelnut Prailine</option>
                              <option value="birthday wishes">Birthday Wishes</option>
                              <option value="banofee crumble">Banofee Crumble</option>
                              <option value="strawberry shortcake">Strawberry Shortcake</option>
                            </select>
                          </div>
                        </div>


                        <div class="flex-col" id="buildYourOwnCake-select-2">
                          <div class="text-lg bold my-2">
                            <p>Custom Flavors</p>
                          </div>
                          <div class="">
                            <div class="my-2">
                              <label for="tierFlavor">Cake <span>*</span></label>
                              <p class="text-xs italic text-gray-700 font-normal">NF = Nut Free, EF = Egg Free</p>
                            </div>
                            <div class="">
                              <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierTwo[flavor][buildYourOwn][base]">
                                <option value="lemon poppy seed (NF)">Lemon Poppy Seed (NF)</option>
                                <option value="mexican vanilla (NF)">Mexican Vanilla (NF)</option>
                                <option value="cookies & cream | oreo (NF, can be EF)">Cookies & Cream | Oreo (NF, can be EF)</option>
                                <option value="mocha chocolate (NF)">Mocha Choolate (NF)</option>
                                <option value="red velvet (NF)">Red Velvet (NF)</option>
                                <option value="bailey's irish cream (vanilla)">Bailey's Irish Cream(Vanilla)</option>
                                <option value="bailey's irish cream (chocolate)">Bailey's Irish Cream(Chocolate)</option>
                                <option value="funfetti vanilla">Funfetti Vanilla</option>
                                <option value="almond cream">Almond Cream</option>
                                <option value="banana">Banana</option>
                              </select>
                            </div>
                          </div>

                          <div class="my-2">
                            <div class="my-2">
                              <label for="tierFilling">Buttercream/Filling<span>*</span></label>
                              <p>All of my buttercreams are a SMBC (Swiss Meringue Buttercream) base. It is silky, smooth and not overly sweet. The perfect base!</p>
                            </div>
                            <div class="my-2">
                              <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierTwo[flavor][buildYourOwn][filling]">
                                <optgroup label="Buttercream">
                                  <option value="cookies and cream (oreo)">Cookies and Cream (Oreo)</option>
                                  <option value="vanilla">Vanilla"</option>
                                  <option value="strawberry">Strawberry</option>
                                  <option value="chocolate">Chocolate</option>
                                  <option value="irish cream (bailey's)">Irish Cream (Bailey's)</option>
                                  <option value="cheesecake (cream cheese vanilla)">Cheesecake (Cream Cheese Vanilla)</option>
                                  <option value="dulce de leche">Dulce De Leche</option>
                                  <option value="coffee">Coffee</option>
                                  <option value="salted caramel">Salted Caramel</option>
                                </optgroup>
                                <optgroup label="Chocolate Ganache">
                                  <option value="whipped dark chocolate ganache">Whipped Dark Chocolate Ganache</option>
                                  <option value="whipped white chocolate ganache">Whipped White Chocolate Ganache</option>
                                  <option value="whipped peanut butter ganache">Whipped Peanut Butter Ganache</option>
                                </optgroup>
                              </select>
                            </div>
                          </div>

                          <div class="my-2">
                            <div class="my-2 text-base">
                              <label for="tierExtra"><span><i class="fas fa-star"></i> </span>Make your cake extra special</label>
                              <p class="text-xs italic text-gray-700 font-normal">These add-ons deliver extra flavor, texture and makes the cake uniquely suit your taste.</p>
                              <p class="text-xs italic text-gray-700 font-normal">Additional fee may apply**</p>
                            </div>
                            <div class="flex flex-wrap">
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="fresh strawberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Fresh Strawberries</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="freeze dried rasberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Freeze Dried Rasberries</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="double stuffed oreo cookies (chunks)" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Double Stuffed Oreo Cookies (Chunks)</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="caramelized popcorn" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Caramelized Popcorn</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="crushed pretzels" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Crushed Pretzels</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="salted caramel drizzle" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Salted Caramel Drizzle</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="pecans (chopped)" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Pecans (Chopped)</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierTwo[flavor][buildYourOwn][topping]" value="almond & hazelnut praline crunch" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Almond & Hazelnut Praline Crunch</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Tier 3 -->
                    <div class="" id="cakeTier-3">
                      <div class="">
                        <h2 class="text-lg bold my-2">Tier 3</h2>
                      </div>
                      <div class="border-solid border-4 border-light-blue-500 p-2">
                        <div class="text-lg bold my-2">
                          <p>Try one of our signature flavor combinations or build your own?</p>
                        </div>
                        <div class="flex-col">
                          <div class="mb-2">
                            <label for="tierType">Tier 3 <span>*</span></label>
                          </div>
                          <div class="flex-col" id="flavorType-select-3">
                            <input type="radio" name="cakeFlavorThree" value="signature"><span class="pl-2">Signature Cake Combos</span><br>
                            <input type="radio" name="cakeFlavorThree" value="buildYourOwn"><span class="pl-2">Build Your Own Cake</span>
                          </div>
                        </div>
                        <div class="flex-col" id="signatureCake-select-3">
                          <div class="text-lg bold my-2">
                            <p>Signature Cakes</p>
                          </div>
                          <div class="text-gray-700">
                            <p>You can find out more on the <span class="text-blue-700"><a href="/flavors" target="_blank">flavors</a></span> page...</p>
                          </div>
                          <div class="">
                            <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierThree[flavor][signature]">
                              <option value="velvet queen">Velvet Queen</option>
                              <option value="cookie monster">Cookie Monster</option>
                              <option value="lemon & poppyseed">Lemon & Poppyseed</option>
                              <option value="almond & hazelnut prailine">Almond & Hazelnut Prailine</option>
                              <option value="birthday wishes">Birthday Wishes</option>
                              <option value="banofee crumble">Banofee Crumble</option>
                              <option value="strawberry shortcake">Strawberry Shortcake</option>
                            </select>
                          </div>
                        </div>

                        <div class="flex-col" id="buildYourOwnCake-select-3">
                          <div class="text-lg bold my-2">
                            <p>Custom Flavors</p>
                          </div>
                          <div class="">
                            <div class="my-2">
                              <label for="tierFlavor">Cake <span>*</span></label>
                              <p class="text-xs italic text-gray-700 font-normal">NF = Nut Free, EF = Egg Free</p>
                            </div>
                            <div class="">
                              <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierThree[flavor][buildYourOwn][base]">
                                <option value="lemon poppy seed (NF)">Lemon Poppy Seed (NF)</option>
                                <option value="mexican vanilla (NF)">Mexican Vanilla (NF)</option>
                                <option value="cookies & cream | oreo (NF, can be EF)">Cookies & Cream | Oreo (NF, can be EF)</option>
                                <option value="mocha chocolate (NF)">Mocha Choolate (NF)</option>
                                <option value="red velvet (NF)">Red Velvet (NF)</option>
                                <option value="bailey's irish cream (vanilla)">Bailey's Irish Cream(Vanilla)</option>
                                <option value="bailey's irish cream (chocolate)">Bailey's Irish Cream(Chocolate)</option>
                                <option value="funfetti vanilla">Funfetti Vanilla</option>
                                <option value="almond cream">Almond Cream</option>
                                <option value="banana">Banana</option>
                              </select>
                            </div>
                          </div>

                          <div class="my-2">
                            <div class="my-2">
                              <label for="tierFilling">Buttercream/Filling<span>*</span></label>
                              <p>All of my buttercreams are a SMBC (Swiss Meringue Buttercream) base. It is silky, smooth and not overly sweet. The perfect base!</p>
                            </div>
                            <div class="my-2">
                              <select class="form-input h-10 py-2 px-3 text-gray-700 text-lg w-full bg-gray-400 rounded" name="cakeTierThree[flavor][buildYourOwn][filling]">
                                <optgroup label="Buttercream">
                                  <option value="cookies and cream (oreo)">Cookies and Cream (Oreo)</option>
                                  <option value="vanilla">Vanilla"</option>
                                  <option value="strawberry">Strawberry</option>
                                  <option value="chocolate">Chocolate</option>
                                  <option value="irish cream (bailey's)">Irish Cream (Bailey's)</option>
                                  <option value="cheesecake (cream cheese vanilla)">Cheesecake (Cream Cheese Vanilla)</option>
                                  <option value="dulce de leche">Dulce De Leche</option>
                                  <option value="coffee">Coffee</option>
                                  <option value="salted caramel">Salted Caramel</option>
                                </optgroup>
                                <optgroup label="Chocolate Ganache">
                                  <option value="whipped dark chocolate ganache">Whipped Dark Chocolate Ganache</option>
                                  <option value="whipped white chocolate ganache">Whipped White Chocolate Ganache</option>
                                  <option value="whipped peanut butter ganache">Whipped Peanut Butter Ganache</option>
                                </optgroup>
                              </select>
                            </div>
                          </div>

                          <div class="my-2">
                            <div class="my-2 text-base">
                              <label for="tierExtra"><span><i class="fas fa-star"></i> </span>Make your cake extra special</label>
                              <p class="text-xs italic text-gray-700 font-normal">These add-ons deliver extra flavor, texture and makes the cake uniquely suit your taste.</p>
                              <p class="text-xs italic text-gray-700 font-normal">Additional fee may apply**</p>
                            </div>
                            <div class="flex flex-wrap">
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="fresh strawberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Fresh Strawberries</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="freeze dried rasberries" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Freeze Dried Rasberries</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="double stuffed oreo cookies (chunks)" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Double Stuffed Oreo Cookies (Chunks)</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="caramelized popcorn" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Caramelized Popcorn</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="crushed pretzels" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Crushed Pretzels</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="salted caramel drizzle" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Salted Caramel Drizzle</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="pecans (chopped)" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Pecans (Chopped)</label>
                                </div>
                              </div>
                              <div class="flex w-1/2">
                                <div class="flex items-center h-5">
                                  <input name="cakeTierThree[flavor][buildYourOwn][topping]" value="almond & hazelnut praline crunch" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                                </div>
                                <div class="ml-3 text-sm leading-5">
                                  <label for="tierExtra" class="font-medium text-gray-700">Almond & Hazelnut Praline Crunch</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- sugar cookie information -->
            <div class="flex-col justify-between" id="sugarCookies-select">
              <!-- sugar cookie amount -->
              <div class="flex-col my-2 md:pr-2">
                <label for="amount" class="text-sm font-semibold leading-5 text-gray-700">
                  How many sugar cookies will you need?
                </label>
                <p class="text-sm font-normal font-base leading-5 text-gray-700 mt-2">Sugar cookies are sold by the dozen (12). If you need more than 72, please inform us in the "Brief Description" section to let us know.</p>
                <div class="mt-1 rounded-md">
                  <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="sugarCookies[amount]">
                    <option value="0" selected>0</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="60">60</option>
                    <option value="72">72</option>
                  </select>
                </div>
              </div>
              <!-- sugar cookie flavor select -->
              <div class="flex-col my-2 md:pl-2">
                <label for="flavor" class="text-sm font-semibold leading-5 text-gray-700">
                  Sugar Cookie Flavor
                </label>
                <div class="flex">
                  <div class="flex items-center h-5">
                    <input name="sugarCookies[flavor]" value="mexican vanilla" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="sugarCookies[flavor]" class="font-medium text-gray-700">Mexican Vanilla</label>
                  </div>
                </div>
                <div class="flex">
                  <div class="flex items-center h-5">
                    <input name="sugarCookies[flavor]" value="Lemon" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="sugarCookies[flavor]" class="font-medium text-gray-700">Lemon</label>
                  </div>
                </div>
                <div class="flex">
                  <div class="flex items-center h-5">
                    <input name="sugarCookies[flavor]" value="chocolate" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
                  </div>
                  <div class="ml-3 text-sm leading-5">
                    <label for="sugarCookies[flavor]" class="font-medium text-gray-700">Chocolate</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-col justify-between" id="cupcakes-select">
              <!-- cupcake amount -->
              <div class="flex-col my-2 md:pr-2">
                <label for="amount" class="text-sm font-semibold leading-5 text-gray-700">
                  How many cupcakes will you need?
                </label>
                <p class="text-sm font-normal font-base leading-5 text-gray-700 mt-2">Cupcakes are sold by the dozen (12). If you need more than 72, please inform us in the "Brief Description" section to let us know.</p>
                <div class="mt-1 rounded-md">
                  <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="cupcakes[amount]">
                    <option value="0" selected>0</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="60">60</option>
                    <option value="72">72</option>
                  </select>
                </div>
              </div>

              <div class="flex-col my-2">
                <label for="flavor" class="text-sm font-semibold leading-5 text-gray-700">
                  Cupcake Flavor
                </label>
                <div class="mt-1 rounded-md">
                  <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="cupcakes[flavor]">
                    <option value="lemon poppy seed (NF)">Lemon Poppy Seed (NF)</option>
                    <option value="mexican vanilla (NF)">Mexican Vanilla (NF)</option>
                    <option value="cookies & cream | oreo (NF, can be EF)">Cookies & Cream | Oreo (NF, can be EF)</option>
                    <option value="Mocha Chocolate (NF)">Mocha Chocolate (NF)</option>
                    <option value="funfetti vanilla">Funfetti Vanilla</option>
                    <option value="red velvet (NF)">Red Velvet (NF)</option>
                    <option value="Snickerdoodle">Snickerdoodle</option>
                  </select>
                </div>
              </div>
              <div class="flex-col my-2">
                <label for="flavor" class="text-sm font-semibold leading-5 text-gray-700">
                  Cupcake Frosting
                </label>
                <div class="mt-1 rounded-md">
                  <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="cupcakes[frosting]">
                    <option value="cookies and cream (oreo)">Cookies and Cream (Oreo)</option>
                    <option value="vanilla">Vanilla</option>
                    <option value="strawberry">Strawberry</option>
                    <option value="butter rum">Butter Rum</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="irish cream (bailey's)">Irish Cream (Bailey's)</option>
                    <option value="cheesecake (cream cheese vanilla)">Cheesecake (Cream Cheese Vanilla)</option>
                    <option value="browned butter">Browned Butter</option>
                    <option value="salted caramel">Salted Caramel</option>
                  </select>
                </div>
              </div>

            </div>
            <!-- rice krispies amount -->
            <div class="flex-col justify-between" id="riceKrispiePops-select">
              <div class="flex-col my-2 md:pr-2">
                <label for="amount" class="text-sm font-semibold leading-5 text-gray-700">
                  How many rice krispie pops will you need?
                </label>
                <p class="text-sm font-normal font-base leading-5 text-gray-700 mt-2">Rice krispie pops are sold by the dozen (12). If you need more than 72, please inform us in the "Brief Description" section to let us know.</p>
                <div class="mt-1 rounded-md">
                  <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="riceKrispiePops[amount]">
                    <option value="0" selected>0</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="60">60</option>
                    <option value="72">72</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- chocolate dipped strawberries amount -->
            <div class="flex-col justify-between" id="chocolateDippedStrawberries-select">
              <label for="amount" class="text-sm font-semibold leading-5 text-gray-700">
                How many chocolate dipped strawberries will you need?
              </label>
              <p class="text-sm font-normal font-base leading-5 text-gray-700 mt-2">Chocolate dipped strawberries are sold by the dozen (12). If you need more than 72, please inform us in the "Brief Description" section to let us know.</p>
              <div class="mt-1 rounded-md">
                <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="chocolateDippedStrawberries[amount]">
                  <option value="0" selected>0</option>
                  <option value="12">12</option>
                  <option value="24">24</option>
                  <option value="36">36</option>
                  <option value="48">48</option>
                  <option value="60">60</option>
                  <option value="72">72</option>
                </select>
              </div>
            </div>
            <!-- cake pops amount -->
            <div class="flex-col justify-between" id="cakePops-select">
              <label for="amount" class="text-sm font-semibold leading-5 text-gray-700">
                How many cake pops will you need?
              </label>
              <p class="text-sm font-normal font-base leading-5 text-gray-700 mt-2">Cake pops are sold by the dozen (12) with a limit of 2 dozen (24). If you need more than 24, please inform us in the "Brief Description" section to let us know.</p>
              <div class="mt-1 rounded-md">
                <select class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" name="cakepops[amount]">
                  <option value="0" selected>0</option>
                  <option value="12">12</option>
                  <option value="24">24</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- brief description -->
        <div class="flex-col my-4">
          <div class="flex-col my-2">
            <label for="description" class="text-sm font-semibold leading-5 text-gray-700">
              Brief Description
            </label>
            <p class="text-xs italic text-gray-700 font-normal">Please note the number of tiers, shape, colors, design theme and any other relevant details.
            </p>
            <div class="mt-1 rounded-md">
              <textarea id="description" name="description" rows="3" class="form-textarea bg-gray-400 flex-1 block w-full rounded-none rounded-md transition duration-150 p-2 ease-in-out text-lg sm:leading-5"
                placeholder="Provide a brief description of order you are looking to create"></textarea>
            </div>
          </div>
        </div>

        <!-- photo -->
        <div class="flex-col">
          <div class="">
            <div class="font-bold text-lg mt-6">
              <h2>Send Your Design Inspiration My Way...</h2>
              <p class="text-sm font-semibold font-base leading-5 text-gray-700 mt-2">Upload below:</p>
              <p class="text-xs italic text-gray-700 font-normal">Don't know what design you want? Let me design something for you. Send me cool stuff like invitations, color schemes, art or anything that inpire you!</p>
            </div>
            <div class="flex w-full my-2 items-center justify-center bg-grey-lighter">
              <label for="upload" class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue-600 hover:text-white">
                <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                </svg>
                <span class="mt-2 text-base leading-normal">Select Files</span>
                <input type='file' class="hidden" id="upload" name="images" multiple />
              </label>
            </div>
            <div class="flex justify-center items-center my-2">
              <span id="files-chosen-1" class="text-sm px-2">No files chosen</span>
              <img id="preview-image-1" src="" class="rounded-md w-24 h-24" hidden>
              <div class="flex justify-around my-4">

              </div>
              <span id="delete-photo-1" class="pl-2 text-red-500"><i class="fas fa-times"></i></span>
            </div>
            <div class="flex justify-center items-center my-2">
              <span id="files-chosen-2" class="text-sm px-2"></span>
              <div class="flex justify-around my-4">
                <img id="preview-image-2" src="" class="rounded-md w-24 h-24" hidden>
              </div>
              <span id="delete-photo-2" class="pl-2 text-red-500"><i class="fas fa-times"></i></span>
            </div>

          </div>

          <div class="flex justify-around sm:p-6">
            <span class="rounded-md">
              <button type="submit" id="submit-button"
                class="inline-flex justify-center py-2 px-4 border border-transparent text-xl leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out">
                Add Inquiry
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
</form>
</div>
