<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>
<div class="flex justify-around">
  <div class="flex flex-col py-6 my-4 text-gray-700 text-center rounded-md">
    <div class="border rounded p-6 bg-white max-w-2xl">
      <!-- Cake Care -->
      <div class="flex-col">
        <h1 class="font-bold text-3xl mb-2" >A MESSAGE FROM YOUR CAKE...</h1>
        <p class="py-2"><span>Thank you for taking me on this ride!</span></p>
        <p class="py-2"><span>I have some important tips for you below so take moment to read them and follow our reccomendations carefully.</span></p>
        <p class="py-4"></p>
        <p class="py-4"><span>1. Remember I am delicate and require special handling.</span></p>
        <p class="py-4"><span>2. Pets and children can be mischievous. Be cautious, try and keep me away from them.</span></p>
        <p class="py-4"><span>3. It would be ever so kind if you take me directly to my final destination. Every small bump, slight curve and stop can possibly damage me.</span></p>
        <p class="py-4"><span>4. This will need to be explained in (2) parts. However, the following applies to both.</span></p>
        <p class="py-4"></p>
        <p>When selecting my placement at your event, please keep in mind that direct sunlight is terrible for me and I need to stay below 75 degrees. If not, I could melt and even get damaged.</p>
        <p class="py-4"></p>
        <p class="py-4"><span class="underline">Buttercream | Naked Cake:</span>  I need to be refrigerated; however I am best enjoyed at room temperature. So, remember to take me out of the fridge at least 3 hours before you’re ready to share me with your guests.</p>
        <p class="py-4"><span class="underline">Fondant Cake:</span>  Typically I have a ganache coating underneath my fondant layer. So I am more suitable to be left out rather than in the fridge. The fridge can cause sweating to occur on my fondant during the warmer months.</p>
        <p class="py-4"></p>
        <p class="py-2">A quick final thought!  I was made with so much love and care just for you, so please treat me with the same love and care in which I was created.</p>
      </div>
      <!-- Cake Cutting -->
      <div class="w-full py-6 text-center">
        <h1 class="text-black text-4xl font-bold">HOW TO CUT A CAKE</h1>
        <p class="font-bold py-4"><span>Here’s what you’ll need:</span></p>
        <p class=""><span>Knife (not plastic)</span></p>
        <p class=""><span>Cutting Board or Plate</span></p>
        <p class="py-4"></p>
        <p class="font-bold py-4"><span>Steps:</span></p>
        <p class=""><span>Remove the cake topper (if applicable)</span></p>
        <p class=""><span>Remove any 3D decorations and or flowers</span></p>
        <p class=""><span>Cut the cake straight across in 1″ segments</span></p>
        <p class=""><span>Divide that segment into 1″x2″ or 1″x1″ (picture below)</span></p>
        <p class=""><span>Optional: Cut the slice in half to yield more servings</span></p>
        <p class="py-4"></p>
        <p class="px-24 py-2 text-justify"><span><span class="font-bold">Tips:</span>  If the cake has 2 or more tiers, cut the top tier like normal and then move onto the tier beneath it, until all of your tiers are served.</span></p>
        <p class="px-24 py-2 text-justify"><span>If your cake is 2 or more tiers, there will be dowels to support the tier above it. They will need to be removed prior to serving. There will also be a center dowel that runs through all of the tiers. This will not need to be removed as it is attached to the cake board. Cut the cake around the center dowel. </span></p>
        <p class="py-8"></p>
        <p class="text-sm"><span>Video courtesy of <a class="text-blue-400" href="https://www.instagram.com/bellysbakeshop/">Belly's Bake Shop</a></span></p>
        <div class="flex justify-around">
          <video class="elementor-video" src="https://www.thesugarspell.com/wp-content/uploads/2020/03/60435888_1049856822071323_2462073067375951872_n.mp4" controls="" muted="muted" controlslist="nodownload"></video>
        </div>
        <p class="py-4"></p>
        <p class="text-sm">Half size portions will yield more servings.</p>
        <div class="flex justify-around">
          <img width="300" height="284" src="https://www.thesugarspell.com/wp-content/uploads/2019/05/cake-slice-300x284.jpg" class="attachment-medium size-medium" alt="" loading="lazy" srcset="https://www.thesugarspell.com/wp-content/uploads/2019/05/cake-slice-300x284.jpg 300w, https://www.thesugarspell.com/wp-content/uploads/2019/05/cake-slice.jpg 580w" sizes="(max-width: 300px) 100vw, 300px">
        </div>
        <p class="py-4"></p>
      </div>
    </div>
  </div>
</div>

<%- include ('../views/partials/footer') %>
