<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>

<div class="container mx-auto px-4">

  <div class="flex flex-col items-center px-4">
    <div class="border rounded p-6 bg-white max-w-2xl">
      <h1 class="text-gray-700 text-3xl text-center">Click the links below for all of my latest creations!</h1>
      <div class="text-center text-5xl">
        <a class="text-black" href="https://www.instagram.com/sugarspellny/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-red-500" href="https://www.youtube.com/channel/UC8lytG8CdwzBvCaY9X3JD9w" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a class="text-blue-500" href="https://www.facebook.com/sugarspellny/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <h1 class="text-gray-700 text-xl text-center">While your here, check out some treats below!</h1>
    </div>
  </div>

  <section class="py-8 px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="hidden md:block md:w-1/2 px-4">
        <div class="h-full w-full bg-cover rounded shadow-md" style="background-image: url('https://res.cloudinary.com/dpwmzblvv/image/upload/v1611027701/SugarSpells/D9976BEA-6B48-407B-8DE3-CE9F685A88EF_1_105_c_dddzfd.jpg')"></div>
      </div>
      <div class="md:w-1/2 h-auto px-4">
        <div class="mb-8"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611028824/SugarSpells/0X8A6646_xuq6c1.jpg" alt=""></div>
        <div><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611028825/SugarSpells/0X8A6970_bus1kv.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section class="py-8 px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="md:w-1/2 flex flex-wrap content-between h-auto px-4">
        <div class="mb-8"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611030770/SugarSpells/61543ec0-8ca5-43b2-b4d1-1d0c5870db1e_nolti8.jpg" alt=""></div>
        <div class="mb-8"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611027772/SugarSpells/0F2A2991-DBCB-479C-9388-B5BDBA0E2F2F_1_105_c_mgohkr.jpg" alt=""></div>
      </div>
      <div class="hidden md:block md:w-1/2 px-4">
        <div class="h-full w-full bg-cover rounded shadow-md" style="background-image: url('https://res.cloudinary.com/dpwmzblvv/image/upload/v1611027755/SugarSpells/139CB52C-4E61-4DBC-9792-05DFCFDC9BD2_1_105_c_wnqscv.jpg')"></div>
      </div>
      <!-- <div class="md:w-1/2 px-4 mb-8 md:mb-0"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611027755/SugarSpells/139CB52C-4E61-4DBC-9792-05DFCFDC9BD2_1_105_c_wnqscv.jpg" alt=""></div> -->
    </div>
  </section>

  <section class="pt-8 px-4">
    <div class="flex flex-wrap flex-grow -mx-4 items-center">
      <div class="md:w-1/2 flex flex-col">
        <div class="px-4 mb-8"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1615130634/SugarSpells/24A3E7D9-74A8-4147-9755-611D952A6DDF_nleagr.jpg" alt=""></div>
        <div class="px-4 mb-8"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611030147/SugarSpells/IMG_0203_lcsqvh.jpg" alt=""></div>
      </div>

      <div class="md:w-1/2 px-4 mb-8"><img class="rounded shadow-md" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611027671/SugarSpells/DA7905A6-5308-4BBD-A1E1-12E0A65CE1D6_1_201_a_oyvonc.jpg" alt=""></div>
    </div>
  </section>
</div>



<%- include ('../views/partials/footer') %>
