<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>
<div class="w-full">
  <div class="h-full">
    <iframe class="w-full  opacity-50 pointer-events-none" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/0flZPi8pbjU?autoplay=1&amp;mute=1&amp;playlist=0flZPi8pbjU&amp;controls=0&amp;rel=0&amp;playsinline=1&amp;loop=1&amp;modestbranding&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.thesugarspell.com&amp;widgetid=1" id="widget2"></iframe>
  </div>

  <!-- Statistics -->
  <div class="w-full px-2">
    <div class="my-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
      <div class="flex items-center bg-background overflow-visible shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <div class="flex items-center">
            <div class="flex-shrink-0 bg-indigo-300 rounded-md p-3">
              <i class="far fa-heart fa-3x" style="color:#FFFFFF"></i>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  CUPCAKES BAKED & SPRINKLED
                </dt>
                <dd class="flex items-baseline">
                  <div class="text-2xl leading-8 font-semibold text-gray-900">
                    4,688
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center bg-background overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <div class="flex items-center">
            <div class="flex-shrink-0 bg-indigo-300 rounded-md p-3">
              <i class="fas fa-birthday-cake fa-3x" style="color:#FFFFFF"></i>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  CUSTOM CAKES FROSTED
                </dt>
                <dd class="flex items-baseline">
                  <div class="text-2xl leading-8 font-semibold text-gray-900">
                    267
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center bg-background overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <div class="flex items-center">
            <div class="flex-shrink-0 bg-indigo-300 rounded-md p-3">
              <i class="fas fa-trophy fa-3x" style="color:#FFFFFF"></i>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  HAPPY CLIENTS
                </dt>
                <dd class="flex items-baseline">
                  <div class="text-2xl leading-8 font-semibold text-gray-900">
                    306
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center bg-background overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <div class="flex items-center">
            <div class="flex-shrink-0 bg-indigo-300 rounded-md p-3">
              <i class="far fa-handshake fa-3x" style="color:#FFFFFF"></i>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  YEARS OF EXPERIENCE
                </dt>
                <dd class="flex items-baseline">
                  <div class="text-2xl leading-8 font-semibold text-gray-900">
                    5
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="w-full bg-blue-200">
  <div class="px-4 py-8 text-center text-xl">
    <p>
      <span >WE USE MINDFUL INGREDIENTS TO DESIGN BESPOKE CREATIONS FOR A LITTLE BIT OF MAGIC IN EVERY BITE.</span>
    </p>
  </div>
</div>

<div class="w-full bg-orange-200">
  <div class="py-8 px-4">
    <div class="text-center font-bold text-5xl text-orange-500">
      <h3 class="tracking-widest">OUR SERVICES</h3>
    </div>
    <div class="text-center text-gray-600">
      <p>We are always exploring new treats and flavors, so please feel free to send an inquiry for a special dessert!</p>
    </div>
  </div>
</div>

<!-- ITEMS CARD CONTAINER -->
<div class="w-full px-2 sm:px-6 py-2 border-b flex flex-col items-center bg-purple-200">
  <div class="w-full flex flex-wrap justify-center mt-2">
    <!-- SUGAR COOKIE CARD -->
    <div class="p-3 w-full sm:w-1/2 lg:w-1/3 mb-5">
      <div class="border rounded p-6 xl:px-2 h-full bg-purple-100 text-gray-800">
        <div class="flex justify-center items-center p-2">
          <span class="rounded text-white">
            <img class="fill-current text-blue-500 w-16 h-16" src="/images/rainbow-sprinkles-sugar-cookie-solid.png">
          </span>
        </div>
        <div class="flex flex-col py-2 px-3">
          <div class="font-bold text-center h-12 text-lg leading-tight">
            Sugar Cookies
          </div>
          <span class="text-gray-600 text-center">
            Your choice of Mexican vanilla, lemon or chocolate flavored cookies. I’m very proud of these cookies; they are soft with a tender bite. Always covered in royal icing details and marshmallow fondant (this is not your typical fondant people talk about). This homemade fondant melts on the pallete and compliments the cookies beautifully.
          </span>
        </div>
      </div>
    </div>

    <!-- Bespoke Cakes CARD -->
    <div class="p-3 w-full sm:w-1/2 lg:w-1/3 mb-5">
      <div class="border rounded p-6 xl:px-2 h-full bg-purple-100 text-gray-800">
        <div class="flex justify-center items-center p-2">
          <span class="rounded text-white">
            <img class="fill-current w-16 h-16" src="./images/iconfinder_gift-cake-surprise-bow_3992488.svg" alt="">
          </span>
        </div>
        <div class="flex flex-col py-2 px-3">
          <div class="font-bold text-center h-12 text-lg leading-tight">
            Bespoke Cakes
          </div>
          <span class="text-gray-600 text-center">
            Your choice of Mexican vanilla, lemon or chocolate flavored cookies. I’m very proud of these cookies; they are soft with a tender bite. Always covered in royal icing details and marshmallow fondant (this is not your typical fondant people talk about). This homemade fondant melts on the pallete and compliments the cookies beautifully.
          </span>
        </div>
      </div>
    </div>

    <!-- Rice Krispie CARD -->
    <div class="p-3 w-full sm:w-1/2 lg:w-1/3 mb-5">
      <div class="border rounded p-6 xl:px-2 h-full bg-purple-100 text-gray-800">
        <div class="flex justify-center items-center p-2">
          <span class="rounded text-white">
            <img class="fill-current w-16 h-16" src="./images/iconfinder_biscuit_1760343.svg" alt="">
          </span>
        </div>
        <div class="flex flex-col py-2 px-3">
          <div class="font-bold text-center h-12 text-lg leading-tight">
            Rice Krispie Pops
          </div>
          <span class="text-gray-600 text-center">
            Your choice of Mexican vanilla, lemon or chocolate flavored cookies. I’m very proud of these cookies; they are soft with a tender bite. Always covered in royal icing details and marshmallow fondant (this is not your typical fondant people talk about). This homemade fondant melts on the pallete and compliments the cookies beautifully.
          </span>
        </div>
      </div>
    </div>

    <!-- Cupcake CARD -->
    <div class="p-3 w-full sm:w-1/2 lg:w-1/3 mb-5">
      <div class="border rounded p-6 xl:px-2 h-full bg-purple-100 text-gray-800">
        <div class="flex justify-center items-center p-2">
          <span class="rounded text-white">
            <img class="fill-current w-16 h-16" src="./images/iconfinder_Cupcake_2138186.svg" alt="">
          </span>
        </div>
        <div class="flex flex-col py-2 px-3">
          <div class="font-bold text-center h-12 text-lg leading-tight">
            Cupcakes
          </div>
          <p class="text-gray-600 text-center pb-2">
            Basically my cakes in mini form. They can be topped with a theme matching sprinkle mix or with handmade toppers created from sugar paste.
          </p>
          <p class="text-gray-600 text-center pt-2">
            Feeling adventurous? Ask for a fruit, chocolate, sprinkle or mousse filling for your next order of cupcakes!
          </p>
        </div>
      </div>
    </div>

    <!-- DONUTS CARD -->
    <div class="p-3 w-full sm:w-1/2 lg:w-1/3 mb-5">
      <div class="border rounded p-6 xl:px-2 h-full bg-purple-100 text-gray-800">
        <div class="flex justify-center items-center p-2">
          <span class="rounded text-white">
            <img class="fill-current w-16 h-16" src="./images/iconfinder_Donut_2138185.svg" alt="">
          </span>
        </div>
        <div class="flex flex-col py-2 px-3">
          <div class="font-bold text-center h-12 text-lg leading-tight">
            Donuts
          </div>
          <p class="text-gray-600 text-center pb-2">
            Coming soon…
          </p>
          <p class="text-gray-600 text-center pt-2">
            I am almost done perfecting the recipe!
          </p>
        </div>
      </div>
    </div>

    <!-- Cake Popsicles & Cake Pops CARD -->
    <div class="p-3 w-full sm:w-1/2 lg:w-1/3 mb-5">
      <div class="border rounded p-6 xl:px-2 h-full bg-purple-100 text-gray-800">
        <div class="flex justify-center items-center p-2">
          <span class="rounded text-white">
            <img class="fill-current w-16 h-16" src="./images/Cake_pop.svg" alt="">
          </span>
        </div>
        <div class="flex flex-col py-2 px-3">
          <div class="font-bold text-center h-12 text-lg leading-tight">
            Cake Popsicles & Cake Pops
          </div>
          <p class="text-gray-600 text-center pb-2">
            My same delicious cake recipe crumbled and hand rolled or shaped. Then dipped in smooth decadent chocolate or candy coating (tastes like vanilla).
          </p>
          <p class="text-gray-600 text-center pb-2">
            Max of 2 dozen (12) per order**
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reviews -->
<div class="bg-green-200">
  <div class="mx-auto py-2 px-4 max-w-screen-xl sm:px-6 lg:px-8 lg:py-4">
    <div class="space-y-12">
      <div class="text-center space-y-5 sm:space-y-4 w-full">
        <h2 class="text-3xl leading-9 font-extrabold text-gray-700 tracking-tight sm:text-4xl">
          PEOPLE TALK ABOUT US...
        </h2>
        <p class="text-xl leading-7 text-gray-500">Hold on a sec! I’m not trying to sell you on our services. Instead, here are some people that will do the hard work for us.
        </p>
      </div>
      <ul class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8">
        <!-- Review #1 -->
        <li class="py-10 px-6 bg-green-300 text-center rounded-lg xl:px-10 xl:text-left">
          <div class="flex justify-center items-center py-2 mt-5">
          <div class="space-y-6 xl:space-y-10">
            <div class="flex justify-center items-center p-2">
              <span class="rounded text-white">
                <i class="fas fa-quote-right fa-4x"></i>
              </span>
            </div>
            <div class="flex flex-col py-2 px-3">
              <span class="font-bold text-center h-full text-lg leading-tight">
                Everything was amazing. The details nearly took me out!!!!!!!! It was so beautiful!
              </span>
            </div>
            <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="https://www.thesugarspell.com/wp-content/uploads/2019/05/IMG_6884-659x1024.jpg" alt="">
            <div class="flex flex-col space-y-2 flex items-center justify-between">
              <span class="font-bold uppercase">
                Therese
              </span>
              <span>
                Helping Hans Event Planning
              </span>
            </div>
          </div>
        </li>
        <!-- Review #2 -->
        <li class="py-10 px-6 bg-green-300 text-center rounded-lg xl:px-10 xl:text-left">
          <div class="flex justify-center items-center py-2 mt-5">
          <div class="space-y-6 xl:space-y-10">
            <div class="flex justify-center items-center p-2">
              <span class="rounded text-white">
                <i class="fas fa-quote-right fa-4x"></i>
              </span>
            </div>
            <div class="flex flex-col py-2 px-3">
              <span class="font-bold text-center h-full text-lg leading-tight">
                Thank you!! You do amazing work!!! And soooo freaking delicious!!!
              </span>
            </div>
            <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="https://www.thesugarspell.com/wp-content/uploads/2019/05/20190427_142323-01-e1556831722151-scaled.jpeg" alt="">
            <div class="flex flex-col space-y-2 flex items-center justify-between">
              <span class="font-bold uppercase">
                Rashida
              </span>
            </div>
          </div>
        </li>
        <!-- Review #3 -->
        <li class="py-10 px-6 bg-green-300 text-center rounded-lg xl:px-10 xl:text-left">
          <div class="flex justify-center items-center py-2 mt-5">
          <div class="space-y-6 xl:space-y-10">
            <div class="flex justify-center items-center p-2">
              <span class="rounded text-white">
                <i class="fas fa-quote-right fa-4x"></i>
              </span>
            </div>
            <div class="flex flex-col py-2 px-3">
              <span class="font-bold text-center h-full text-lg leading-tight">
                Thank you so much Chantel! The cake was so perfectly made. Beautiful, precise and sooo yummy!! 💕💕
              </span>
            </div>
            <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="https://www.thesugarspell.com/wp-content/uploads/2019/05/ny-cake.jpg" alt="">
            <div class="flex flex-col space-y-2 flex items-center justify-between">
              <span class="font-bold uppercase">
                Florinda
              </span>
              <span>
                Miss New York 2019
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Hours & Location Container -->
<div class="w-full py-12 sm:px-1 lg:px-24 xl:px-32 bg-repeat bg-center bg-fixed bg-cover" style="background-image: url(/images/Sprinkles_New_wOverlay-1.png)">
  <div class="w-full">
    <div class="w-full flex flex-row justify-between bg-white">
      <div class="flex flex-col w-full justify-between">
        <!-- Hours -->
        <div class="flex flex-row justify-start pb-8">
          <div class="w-1/6 flex flex-row justify-end">
            <i class="far fa-clock fa-3x"></i>
          </div>
          <div class="w-2/3 px-4 flex flex-col justify-between text-gray-800">
            <h3 class="font-bold text-lg pb-2">Admin Hours</h3>
            <div class="font-thin">
              <p>Sunday - Tuesday 9:00am - 8:30pm</p>
              <p>(Phone until 7:30pm)</p>
            </div>
          </div>
        </div>
        <!-- Location -->
        <div class="flex flex-row justify-start pt-8">
          <div class="w-1/6 flex flex-row justify-end">
            <i class="fas fa-map-pin fa-3x"></i>
          </div>
          <div class="w-2/3 px-4 flex flex-col justify-between text-gray-800">
            <h3 class="font-bold text-lg pb-2">We are here</h3>
            <div class="font-thin">
              <p>Located in lower Wetchester.</p>
              <p>We are serving Westchester, the Bronx, Queens, Brooklyn and Manhattan</p>
              <p class="pt-4">Phone: (914) 297-7065</p>
              <p>Email: hello@thesugarspell.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full justify-between">
        <!-- Google Maps iframe -->
        <div class="text-right h-full w-full">
          <iframe class="h-full w-full" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Westchester%20county%2C%20ny&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" aria-label="Westchester county, ny" ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Social Media Links -->
<div class="w-full p-4 bg-yellow-200">
  <div class="w-full px-16 flex flex-row justify-around">
    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-indigo-200 hover:bg-indigo-300 transition duration-300 ease-in-out mx-2">
      <a href="https://www.instagram.com/sugarspellny/" target="_blank">
        <i class="fab fa-instagram fa-2x" style="color:#FFFFFF"></i>
      </a>
    </div>
    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-indigo-200 hover:bg-indigo-300 transition duration-300 ease-in-out mx-2">
      <a href="https://www.youtube.com/channel/UC8lytG8CdwzBvCaY9X3JD9w" target="_blank">
        <i class="fab fa-youtube fa-2x" style="color:#FFFFFF"></i>
      </a>
    </div>
    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-indigo-200 hover:bg-indigo-300 transition duration-300 ease-in-out mx-2">
      <a href="mailto:orders@thesugarspell.com?Subject=Crumbs%20x%20Buttercream%20Inquiry" target="_blank">
        <i class="fas fa-envelope fa-2x" style="color:#FFFFFF"></i>
      </a>
    </div>
    <div class="rounded-full h-16 w-16 flex items-center justify-center bg-indigo-200 hover:bg-indigo-300 transition duration-300 ease-in-out mx-2">
      <a href="https://www.facebook.com/sugarspellny/" target="_blank">
        <i class="fab fa-facebook-f fa-2x" style="color:#FFFFFF"></i>
      </a>
    </div>
  </div>
</div>

<!-- CONTACT US -->
<div class="w-full bg-purple-200">
  <div class="w-full p-4">
    <div class="flex flex-row justify-around items-center">
      <h3 class="text-white font-bold align-left text-xl">
        ENJOY SCRATCH-MADE TREATS FOR YOUR NEXT EVENT!
      </h3>
      <div class="">
        <a href="/contact">
          <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold p-2 rounded tracking-wide uppercase">
            Contact Us
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- SIGN UP CONTAINER -->
<div class="w-full bg-red-300 text-gray-800">
  <div class="w-full flex flex-col md:flex-row justify-between py-4 px-16">
    <div class="w-3/5 flex flex-col p-2 mr-3">
      <span class="mb-4 text-2xl">Join our magical family...</span>
      <div class="w-full">
        <label class="block text-white text-sm font-bold h-4 mb-2" for="email">   Email address:
        </label>
        <div class="w-full">
          <input id="" placeholder="Your email address" class="shadow appearance-none border rounded py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full text-lg" type="email" name="customer[email]">
        </div>
      </div>
    </div>

    <div class="w-full md:w-2/5 flex flex-col justify-end p-2">
      <div class="flex justify-start">
        <span>Be the first to hear about:</span>
      </div>
      <div class="w-full">
        <ul class="pt-2 list-disc">
          <li class="pl-1">Monthly taste boxes</li>
          <li class="pl-1">New flavors</li>
          <li class="pl-1">New treat options</li>
          <li class="pl-1">Special holiday promotions</li>
        </ul>

    </div>
  </div>
</div>
<%- include ('../views/partials/footer') %>
