<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>

<div class="flex justify-around">
  <div class="flex flex-col py-6 my-4 text-gray-700 text-center rounded-md">
    <div class="border rounded p-6 bg-white max-w-2xl">
      <h1 class="font-bold text-3xl mb-2">Search Order</h1>

      <div class="flex flex-col w-full">
        <form class="p-2" action="/order/:<%= order.orderID %>" method="GET">
          <div class="my-2 rounded-md">
            <input name="orderID" class="bg-gray-400 form-input h-10 w-full rounded-md p-2 text-md sm:leading-5" placeholder="Enter Order Number">
          </div>
          <button class="inline-flex justify-center py-2 px-4 border border-transparent text-xl leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out transform hover:scale-110">Search <i class="px-2 fas fa-search text-white"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ('../views/partials/footer') %>
