<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>
<div class="flex justify-around">
  <div class="flex flex-col py-6 my-4 text-gray-700 text-center rounded-md">
    <div class="border rounded p-6 bg-white max-w-2xl">
      <h1 class="font-bold text-3xl mb-2">Throwbacks</h1>
      <div class="flex-col">
        <div class="flex justify-around px-4">
          <img class="w-full h-full block" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611751080/SugarSpells/zf4yqpiqdzbgrf8l1qrg.jpg" alt="">
        </div>
        <p class="text-italics text-gray-500 text-light">My first cake ever! (Please hold all laughs)</p>
      </div>
      <div class="flex-col">
        <div class="flex justify-around px-4">
          <img class="w-full h-full block" src="https://res.cloudinary.com/dpwmzblvv/image/upload/v1611751080/SugarSpells/rp8sx8qurxx4wxgsgl8b.jpg" alt="">
        </div>
        <p class="text-italics text-gray-500 text-light">Mommy and one of her traditional Jamaican rum cakes.</p>
      </div>
    </div>


  </div>
</div>
<%- include ('../views/partials/footer') %>
